.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-heading {
  margin-top: 50px;

  font-family: "MyFont";
  text-align: center;
  border-bottom: 2px solid rgb(5, 143, 223);
}
.about-heading > span {
  color: rgb(5, 143, 223);
}

.about-paragraph {
  font-family: "MyFont";
  font-size: 19px;
  font-weight: 100;
  max-width: 900px;
  padding: 10px 30px 30px 30px;
  border-bottom: 2px solid rgb(5, 143, 223);
}

@media (max-width: 1100px) {
  .about-paragraph {
    max-width: 800px;
  }
  .skills-container {
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  .about-paragraph {
    max-width: 600px;
    padding: 10px 35px 40px 35px;
  }
  .skills-container {
    max-width: 600px;
    padding: 10px 35px 40px 35px;
  }
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  max-width: 1000px;
  gap: 30px;
  padding: 10px 30px 30px 30px;
}

.skills-tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  max-width: 900px;

  padding-top: 50px;
}

.skills-tools-heading {
  text-align: center;
  font-family: "MyFont", sans-serif;
  font-size: 28px;
}
.skills-tools-heading > span {
  color: rgb(5, 143, 223);
}

.skills-img-container {
  text-align: center;
  font-weight: 600;
  font-family: "MyFont";
}
