.contact {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.contact-heading {
  padding-top: 60px;
  font-family: "MyFont", sans-serif;
  text-align: center;
  border-bottom: 2px solid rgb(5, 143, 223);
  margin-top: 50px;
}
.contact-heading > span {
  color: rgb(5, 143, 223);
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgb(5, 143, 223);
  border-top: 1px solid rgb(5, 143, 223);
  padding: 30px 30px 30px 30px;
}
.contact-container > p {
  padding: 10px 30px 10px 30px;
  text-align: center;
  font-size: 28px;
  max-width: 900px;
  font-family: "MyFont", sans-serif;
}
.contact-container > div {
  display: flex;

  width: 100%;
  justify-content: center;
  gap: 30px;
}
.contact-btn {
  margin-top: 30px;
  text-align: center;

  color: black;
  cursor: pointer;
  font-family: "MyFont", sans-serif;
  font-size: 23px;
  display: flex;
  align-items: center;
  border: none;
  font-weight: bold;
  background-color: white;
  max-width: 400px;
  padding: 15px;
  justify-content: center;
}
.contact-btn:hover {
  cursor: default;
}
.contact-btn-container > div > a {
  text-decoration: none;
}
.devicon-github-original:hover {
  cursor: pointer;
}

.contact-btn-container > div {
  display: flex;
  gap: 10px;
}
.github {
  max-width: 50px;
  color: white;
}

.contact-icon {
  margin-right: 10px;
}
.devicon-linkedin-plain,
.devicon-github-original {
  font-size: 40px;
}
@media (max-width: 850px) {
  .contact-container > div {
    flex-direction: column;

    align-items: center;
  }
  .contact-container {
    box-shadow: none;
  }
}
