.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects-heading {
  margin-top: 50px;
  font-family: "MyFont", sans-serif;
  border-bottom: 2px solid rgb(5, 143, 223);
}
.projects-heading > span {
  color: rgb(5, 143, 223);
}
.projects-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-bottom: 30px;
  margin-top: 50px;
  gap: 100px;
}

.projects-card {
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 30px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3);
}
.projects-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.projects-card > img {
  max-width: 300px;
  height: auto;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "MyFont", sans-serif;
}
.project-links {
  margin-bottom: 20px;
}
.project-links > a {
  border: 1px solid red;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid rgb(5, 143, 223);
  padding: 10px;
  color: black;
  border-radius: 10px;
}
.project-links > a:hover {
  color: rgb(5, 143, 223);
  font-weight: bold;
}
.card-info > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  text-align: center;
  align-items: center;
}
.card-title > span {
  color: rgb(5, 143, 223);
}
.card-techstack {
  color: rgb(5, 143, 223);
  font-weight: bold;
}

/* Media Queries */

@media (max-width: 1100px) {
  .projects-container {
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  .projects-container {
    max-width: 800px;

    padding: 10px 35px 40px 35px;
  }
  .projects-card {
    flex-direction: column;
  }
  .card-info > p {
    text-align: center;
  }
  .odd {
    order: 1;
  }
}
